<div class="col-md-12">
    CRUD API
    <table>
        <tr>
            <form action="/home/index" method="get">
                <th>Marca</th>
                <td>
                    <select name="makeId">
                        @if (ViewBag.MarcaOnline != null)
                        {
                            foreach (var marca in ViewBag.MarcaOnline)
                            {
                                <option value="@marca.Id">@marca.Nome</option>
                            }
                        }
                    </select>
                </td>
            </form>
        </tr>
    </table>
</div>