<div class="col-md-12">
    CRUD API
    <table>
        <tr>
            <th>Marca</th>
            <td>
                <select>
                    @if(ViewBag.MarcaOnline != null)
                    {
                        foreach(var marca in ViewBag.MarcaOnline)
                        {
                            <option value="@marca.Id">@marca.Nome</option>
                        }
                    }
                </select>
            </td>
        </tr>
    </table>
</div>